<div class="row">
    <div class="row">
        <div id="list-example" class="list-group list-group-horizontal">
        <a class="list-group-item list-group-item-action rounded" href="#list-item-1">Martes 14</a>
        <a class="list-group-item list-group-item-action rounded" href="#list-item-2">Miércoles 15</a>
        <a class="list-group-item list-group-item-action rounded" href="#list-item-3">Jueves 16</a>
        <a class="list-group-item list-group-item-action rounded" href="#list-item-4">Viernes 17</a>
        </div>
    </div>

    <div class="auto"></br>
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollable-section" tabindex="0">
            <div class="form-check form-switch">
                {% for dia, eventos_dia in eventos.items() %}
                    </br>
                    <h6 id="list-item-{{ loop.index }}">{{ dia }}:</h6>
                    {% for evento in eventos_dia %}
                        <div class="elemento-evento">
                            <input class="form-check-input" style="color:#4c5155;font-size:14px" type="checkbox" id="evento_{{ loop.index }}" name="eventos" value="{{ evento.evento }}" {% if evento.evento in record.eventos %} checked {% endif %}>
                            <label class="form-check-label" style="color:#4c5155;font-size:14px" for="evento_{{ loop.index }}">{{ evento.evento }}</label>
                            <i class="bi bi-info-circle"></i>
                        </div>
                        {% endfor %}
                {% endfor %}
            </div></br>
        </div>
    </div>
</div>