{% if record %}
    <main class="container">
        <div class="form-section bg-body-tertiary p-5 rounded">
        <h1>Registro enviado</h1>
        <p class="lead">Muchas gracias por la información.</p>
        </br>
        <p class="lead" style="color:#4c5155;font-size:14px">{{ record }}</p>
        </div>
    </main>

{% else %}
    <form action="/registro_movilidad" method="POST">
        <div class="form-section bg-body-tertiary p-5 rounded">
            <p class="h5">Selecciona el o los eventos a los que desea inscribirse:</p></br>
            
            <div class="row g-2">
                {% for evento in eventos %}
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">{{ evento }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
        </br>
        <div class="form-section bg-body-tertiary p-5 rounded">
            <p class="h5">Datos personales:</p></br>
            
            <div class="row g-3">
                <input type="email" class="form-control" placeholder="Correo electrónico" aria-label="Correo electrónico" id="correo_diligencia" name="correo_diligencia" required>
                
                <select class="form-select form-select-md" aria-label="País" name="pais">
                    <option selected>Tipo de documento de identidad:</option>
                    {% for tipo in tipos_documento %}
                    <option value="{{ tipo }}">{{ tipo }}</option>
                    {% endfor %}
                </select>
                
                <input type="text" class="form-control" placeholder="Número de documento" aria-label="Documento" name="documento" required>
                
                </br>
                
                <input type="text" class="form-control" placeholder="Nombres" aria-label="Nombres" name="nombres" required>
                
                <input type="text" class="form-control" placeholder="Apellidos" aria-label="Apellidos" name="apellidos" required>
                
                </br>
                
                <select class="form-select form-select-md" aria-label="País" name="pais">
                    <option selected>País:</option>
                        {% for pais in paises %}
                        <option value="{{ pais }}">{{ pais }}</option>
                        {% endfor %}
                </select>
                
                <input type="text" class="form-control" placeholder="Ciudad/Municipio:" aria-label="Ciudad/Municipio" name="ciudad" required>
               
                </br>
                
                <input type="text" class="form-control" placeholder="Institución o entidad de origen:" aria-label="Institución o entidad de origen" name="entidad" required>
                
                <select class="form-select form-select-md" aria-label="Vínculo con la Universidad de Antioquia" name="vinculo">
                    <option selected>Vínculo con la Universidad de Antioquia:</option>
                        {% for vinculo in vinculos %}
                        <option value="{{ vinculo }}">{{ vinculo }}</option>
                        {% endfor %}
                </select><p class="h6" style="color:#6c757d;font-size:13px">En caso de no tener vínculo alguno con la universidad de Antioquia, favor seleccionar la opción "Externo".</p>

                <select class="form-select form-select-md" aria-label="Unidad Académica/Administrativa" name="unidad">
                    <option selected>Unidad Académica/Administrativa:</option>
                        {% for unidad in unidades %}
                        <option value="{{ unidad }}">{{ unidad }}</option>
                        {% endfor %}
                </select>

                <input type="text" class="form-control" placeholder="Programa académico/Dependencia/Grupo de investigación:" aria-label="Programa académico/Dependencia/Grupo de investigación" name="programa" required>
                
                <select class="form-select form-select-md" aria-label="Sede/Seccional" name="sede">
                    <option selected>Sede/Seccional:</option>
                        {% for sede in sedes %}
                        <option value="{{ sede }}">{{ sede }}</option>
                        {% endfor %}
                </select>


            </div>
        </div>

        </br><div class="col-12">
            <input type="submit" id="enviar" name="enviar" value="Enviar" class="btn btn-secondary"/>
        </div>

    </form></br></br>

{% endif %}
    