{% if form_success %}
    <main class="container">
        <div class="form-section bg-body-tertiary p-5 rounded">
        <h1>Registro enviado</h1>
        <p class="lead">Muchas gracias por la información.</p>
        </br>
        <p class="lead" style="color:#4c5155;font-size:14px">{{ record }}</p>
        </div>
    </main>

{% else %}    
    {% if error %}
    </br><div class="alert alert-danger">
        {{ error }}
    </div>
    {% endif %}
    
    <form action="/registro_eventos" method="POST" id="registro_eventos"> 
        <div class="form-section bg-body-tertiary p-5 rounded">
            </br>
            {% include "eventos.html" %}
            </br>
        </div></br>

        <div class="form-section bg-body-tertiary p-5 rounded">
            <p class="h6">Selecciona el o los eventos a los que desea inscribirse:</p></br>
            
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck1">Martes 14</label>
              
                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck2">Miércoles 15</label>
              
                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck3">Jueves 16</label>

                <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck4">Viernes 17</label>
            </div></br></br>
            
            <div id="eventos-container"></div>
            
            <div id="modal" class="modal">
                <div class="modal-content">
                    <span class="close-modal">&times;</span>
                    <img id="modal-image" src="" alt="Imagen del evento">
                </div>
            </div>
        </div>
        </br>
        <div class="form-section bg-body-tertiary p-5 rounded">
            <p class="h6">Datos personales:</p></br>
            
            <div class="row g-1">
                <input type="email" class="form-control" placeholder="Correo electrónico" aria-label="Correo electrónico" id="email" name="email" required value="{{ record.email }}" onblur="BuscarCorreo()">
                <p class="h6" style="color:#6c757d;font-size:13px">Si se ha registrado previamente para otros eventos, podrá importar sus datos con el correo electrónico previamente registrado.</p>
                <p class="h6" style="color:#6c757d;font-size:13px">Por favor actualice los datos en caso ser necesario.</p>
                
                </br>
                
                <select class="form-select form-select-md" aria-label="Tipo de documento de identida" name="tipos_documento" id="tipos_documento">
                    <option selected>Tipo de documento de identidad:</option>
                    {% for tipo in tipos_documento %}
                    <option value="{{ tipo }}" {% if tipo == record.tipo_documento_identidad %} selected {% endif %}>{{ tipo }}</option>
                    {% endfor %}
                </select>
                
                <input type="text" class="form-control" placeholder="Número de documento" aria-label="Documento" name="documento" id="documento" required value="{{ record.numero_documento_identidad }}">
                
                </br>
                
                <input type="text" class="form-control" placeholder="Nombres" aria-label="Nombres" name="nombres" id="nombres" required value="{{ record.nombres }}">
                
                <input type="text" class="form-control" placeholder="Apellidos" aria-label="Apellidos" name="apellidos" id="apellidos" required value="{{ record.apellidos }}">
                
                </br>
                
                <select class="form-select form-select-md" aria-label="País" name="pais" id="pais" required value="{{ record.pais }}">
                    <option selected>País:</option>
                        {% for pais in paises %}
                        <option value="{{ pais }}" {% if pais == record.pais %} selected {% endif %}>{{ pais }}</option>
                        {% endfor %}
                </select>
                
                <input type="text" class="form-control" placeholder="Ciudad/Municipio:" aria-label="Ciudad/Municipio" name="ciudad" id="ciudad" required value="{{ record.ciudad }}">
               
                </br>
                
                <input type="text" class="form-control" placeholder="Institución o entidad de origen:" aria-label="Institución o entidad de origen" name="entidad" id="entidad" required value="{{ record.entidad }}">
                
                <select class="form-select form-select-md" aria-label="Vínculo con la Universidad de Antioquia" name="vinculo" id="vinculo">
                    <option selected>Vínculo con la Universidad de Antioquia:</option>
                        {% for vinculo in vinculos %}
                        <option value="{{ vinculo }}" {% if vinculo == record.vinculo %} selected {% endif %}>{{ vinculo }}</option>
                        {% endfor %}
                </select><p class="h6" style="color:#6c757d;font-size:13px">En caso de no tener vínculo alguno con la universidad de Antioquia, favor seleccionar la opción "Externo".</p>

                <select class="form-select form-select-md" aria-label="Unidad Académica/Administrativa" name="unidad" id="unidad">
                    <option selected>Unidad Académica/Administrativa:</option>
                        {% for unidad in unidades %}
                        <option value="{{ unidad }}" {% if unidad == record.unidad %} selected {% endif %}>{{ unidad }}</option>
                        {% endfor %}
                </select>

                <input type="text" class="form-control" placeholder="Programa académico/Grupo de investigación:" aria-label="Programa académico/Grupo de investigación" name="programa" id="programa" value="{{ record.programa }}">
                
                <select class="form-select form-select-md" aria-label="Sede/Seccional" name="sede" id="sede">
                    <option selected>Campus de origen:</option>
                        {% for sede in sedes %}
                        <option value="{{ sede }}" {% if sede == record.sede %} selected {% endif %}>{{ sede }}</option>
                        {% endfor %}
                </select>
            </div>
        </div>

        </br><div class="col-12">
            <input type="submit" id="enviar" name="enviar" value="Enviar" class="btn btn-secondary"/>
        </div>
    
    <script src="/static/js/buscar_correo.js"></script>
    <script src="/static/js/filtro_eventos.js"></script>
    
    <script>
        window.addEventListener("load", FiltroEventos);
    </script>

    </form></br></br>

{% endif %}