{% extends "base_clean.html" %}

{% block content %}

<main class="container">
  <div class="contenedor">
    <img src="/static/banner_sm.png" class="img-fluid" alt="Banner">
  </div>
  </br>
  <div class="bg-body-tertiary p-3 rounded">
    Registro Eventos DRI 2023 Presenciales.
  </br></br>
    Gracias por registrarte a los eventos organizados desde la Dirección de Relaciones Internacionales de la Universidad de Antioquia. 
  </div>
  </br>
  {% include "formulario_eventos.html" %}
  
</main>

{% endblock %}